.postList{
    margin-top: 5%;
    border-bottom: 1px solid black;
}
.p{
    margin-top: 1%; 
    margin-left: 2%;
    margin-right: 3%;
}
.title{
    font-size: 25px;
    color: #3772ff;
}
.delete{
    font-size: 17px;
    color:#2708a0;
    margin-left: 2%;
    cursor: pointer;
}
.today{
    font-size: 17px;
}