.flex-container {
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    color: black;
  }
.add-post{
  color:white;
}
.add-post:hover{
  text-decoration: none;
  color:white;
}